@import './Vars.scss';

body {
    margin: 0;
    font-family: $theme-font;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

h1,h2,h3,h4,p,a {font-weight: 200;}